# Xcode
DerivedData/
*.xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.xcuserdatad
*.swp

# SwiftPM
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Others
.DS_Store

